# Processing the xlxs data

## All the imports

In [2]:
import pandas as pd

## Processing the data

In [43]:
data = pd.read_csv('../../data/raw/crime.csv', encoding = "ISO-8859-1")
data_drop = ['INCIDENT_NUMBER', 'OFFENSE_CODE', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING', 'UCR_PART', 'Lat', 'Long', 'Location']
data = data.drop(columns = data_drop, axis = 0)
data.head()

,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET
0,Larceny,LARCENY ALL OTHERS,2018-09-02 13:00:00,2018,9,Sunday,13,LINCOLN ST
1,Vandalism,VANDALISM,2018-08-21 00:00:00,2018,8,Tuesday,0,HECLA ST
2,Towed,TOWED MOTOR VEHICLE,2018-09-03 19:27:00,2018,9,Monday,19,CAZENOVE ST
3,Investigate Property,INVESTIGATE PROPERTY,2018-09-03 21:16:00,2018,9,Monday,21,NEWCOMB ST
4,Investigate Property,INVESTIGATE PROPERTY,2018-09-03 21:05:00,2018,9,Monday,21,DELHI ST

## Exporting the data to data/processed

In [44]:
export_csv = data.to_csv (r'../../data/processed/crimes_processed.csv', index = None, header=True)